<%= link_to "Back to home", root_path %>
<h1> Change Password </h1>

<div>
    <%= form_for '', url: profile_update_password_path, method: :put do |f| %>
        <div>
            <%= f.password_field :password, placeholder: 'Current Password' %>
        </div>
        <div>
            <%= f.password_field :password_confirmation, placeholder: 'New Password' %>
        </div>
        <%= f.submit "Submit" %>
    <% end %> 
</div>