<%= link_to "Back to Home", root_path %>
<div class='header-users'>
    <h1>List of Users</h1>
    <% if can? :create, User %>
        <%= link_to "New User", new_user_registration_path %>
    <% end %>
</div>
<div>
    <%= search_form_for @q do |f| %>
        <%= f.label :username_or_email %>
        <%= f.search_field :username_or_email_cont %>

        <%= f.submit "Search!" %>
    <% end %>
</div>
<div>
    <ul>
        <% @users.each do |user| %>
            <li>
                <%= user.username %>
                <% if user.id == current_user.id %>
                 <%=link_to "Edit", edit_user_registration_path %>
                <% end %>
                <% if user.id != current_user.id %>
                    <%= 
                        link_to "Delete", user_registration_path(user.id),
                        method: :delete, 
                        data: { confirm: "Are you sure you want to delete this group?" } 
                    %>
                <% end %>
            </li>
        <% end %>
        <%= paginate @users %>
    </ul>
 
</div>